
out/production/classes/net/swvn9/vote/Listener\.class

out/production/classes/net/swvn9/vote/Bot\.class

cache/

build/tmp/shadowJar/

build/libs/

build/classes/main/net/swvn9/vote/

\.idea/

\.gradle/buildOutputCleanup/

\.gradle/3\.5-rc-2/taskHistory/

\.gradle/3\.5-rc-2/fileContent/

\.gradle/3\.5-rc-2/file-changes/
